Test Work

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\USER\Desktop\Pandas\LOTR.csv" )
df

   FellowshipID FirstName     Skills
0          1001     Frodo     Hiding
1          1002   Samwise  Gardening
2          1003   Gandalf     Spells
3          1004    Pippin  Fireworks

df = pd.read_excel(r"C:\Users\USER\Desktop\Pandas\world_population_excel_workbook.xlsx", sheet_name = 'Sheet1')
df